// 1px边框
@import './var.styl';

border-1px-common() {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
}

border-1px(color = $border-color) {
    border-1px-common();
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    border: 0 solid color;
    transform: scale(0.5);
}

[class*='border-1px'] {
    &::after {
        border-1px();
    }
}

.border-1px {
    &, &--top, &--right, &--bottom, &--left, &--top-bottom, &--surround {
        position: relative;
    }

    &--top::after {
        border-top-width: $border-width-base;
    }

    &--left::after {
        border-left-width: $border-width-base;
    }

    &--right::after {
        border-right-width: $border-width-base;
    }

    &--bottom::after {
        border-bottom-width: $border-width-base;
    }

    &, &-unset {
        &--top-bottom::after {
            border-width: $border-width-base 0;
        }
    }

    &--surround::after {
        border-width: $border-width-base;
    }
}